.background-section {
    padding-top: 250px;
    padding-bottom: 400px;
    min-height: 100vh;
    background-position: 100%;
    background-repeat: no-repeat;
}


/* responsive tablet device*/
@media screen and (min-width: 577px) and (max-width: 991px) {
    .background-section {
        padding-top: 250px;
        padding-bottom: 200px;
    }
}


/* responsive mobile devices */
@media screen and (max-width: 576px) {
    .background-section {
        padding-top: 20px;
        padding-bottom: 70px;
    }
}