.found-btn {
    background-color: #FF6E40;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

/* responsive mobile device */
@media screen and (max-width: 576px) {
    .not-found-img {
        width: 100%;
    }
}